.form {
  width: 400px;
  padding: 16px;
  border: 1px solid rgb(235, 235, 240);
  border-radius: 4px;
}

.form-control {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.form-control .input-label {
  font-size: 14px;
  color: rgb(56, 56, 61);
  margin-bottom: 4px;
}

.input-container {
  display: flex;
  flex: 1 1 0%;
  position: relative;
  z-index: 1;
  width: 100%;
}

.form-control .input-field {
  padding: 35px;
  height: 36px;
  width: 100%;
  border-radius: 4px;
  padding: 10px 12px;
  line-height: 20px;
  outline: none;
  flex: 1 1 0%;
  border: 1px solid rgb(196, 196, 207);
}

.form-control .eye-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  cursor: pointer;
}

.form-control .message {
  color: rgb(56, 56, 61);
  font-size: 11px;
  margin-top: 4px;
}
