.regis-form__heading {
  margin-bottom: 20px;
}

.regis-form__heading h4 {
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 500;
}

.regis-form__heading p {
  margin: 0;
  font-size: 15px;
}

.regis-form__email input,
.regis-form__password input {
  width: 100%;
  padding: 10px 0;
  border: none;
  font-size: 18px;
  color: rgb(36, 36, 36);
  outline: none;
  border-bottom: 1px solid #e0e0e0;
}

.regis-form__actions button {
  margin: 30px 0 10px;
  outline: none;
  border-radius: 4px;
  background-color: rgb(255, 66, 78);
  padding: 13px 0;
  width: 100%;
  color: rgb(255, 255, 255);
  border: none;
  font-size: 20px;
  cursor: pointer;
}
