.order {
  padding: 1em;
  box-shadow: 0 0 10px #ccc;
  margin-bottom: 2rem;
  background-color: #fff;
}
.items-header {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  padding-top: 1.5rem;
  padding-inline: 1rem;
  font-weight: bold;
  border-bottom: #000 solid 1px;
  text-align: center;
}
.item {
  padding-inline: 1rem;
  border-bottom: #ccc solid 1px;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  text-align: center;
}
.item p {
  margin-block: 0.5em;
}

.detail {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 1.5em;
}
.actions-control {
  display: flex;
  gap: 1em;
  justify-content: center;
  height: fit-content;
}
.info-item {
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.info-item p:first-child {
  font-weight: bold;
}
.input-status {
  margin-bottom: 1rem;
}
.input-status p {
  margin-bottom: 0;
}
.input-status input {
  width: 70%;
}
