.backdrop {
  background-color: #0000008e;
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 11;
}

.overlay {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
  padding: 2em;
  text-align: center;
  width: 35%;
}

.icon{
    font-size: 34px;
}

.btn-close-modal{
  position: absolute;
  top:0;
  right:0;
  transform: translate(50%, -50%);
  border-radius: 50%;
}
