.header {
  padding-block: 1em;
  background-color: rgb(26, 148, 255);
  margin-bottom: 2em;
}

.nav{
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-inline: 0.5rem;
}
.nav ul{
  margin: 0;
}

.nav-items {
  display: flex;
  gap: 2em;
  justify-content: space-between;
  padding: 0;
  align-content: center;
}

.nav-items {
  list-style: none;
}

.nav-items a,
a:active {
  color: white;
  text-decoration: none;
}
