.product-reviews {
  flex: 1 1 0%;
  width: 1029px;
}

.product-reviews__heading {
  font-size: 20px;
  line-height: 32px;
  font-weight: 300;
  margin: 4px 0 12px;
}

.product-reviews__status-tab {
  background-color: #fff;
  cursor: pointer;
  width: 100%;
}
