.footer {
  margin-top: 30px;
  padding: 0 10em;
  background-color: #fff;
}

.footer__content {
  font-size: 16px;
  font-weight: normal;
  line-height: 16px;
  color: rgb(128, 128, 128);
}

.footer__information {
  padding: 20px 0;
}

.information__container {
  display: flex;
  width: 100%;
}

.contact {
  border-right: 1px solid #cecece;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 15px;
}

.contact__image {
  margin-bottom: 10px;
}

.contact__image img {
  width: 80%;
}

.contact__email,
.contact_hotline,
.contact__address {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.contact__email i,
.contact_hotline i,
.contact__address i {
  margin-right: 8px;
}

.contact-icon {
  display: inline-block;
  margin-right: 8px;
  vertical-align: middle;
  width: 32px;
  height: 32px;
}

.introduction__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.introduction__heading {
  margin-bottom: 15px;
}

.introduction__heading h4 {
  font-size: 30px;
  line-height: 24px;
  font-weight: 500;
  color: rgb(56, 56, 61);
}

.introduction__quote {
  padding: 0 15px;
  text-align: center;
}

.introduction__quote p {
  line-height: 22px;
}

.footer__separator {
  content: "";
  width: 100%;
  height: 1px;
  background-color: rgb(235, 235, 240);
}

.footer__license {
  padding: 16px 0;
  font-size: 12px;
}

.license__container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.license__container .github {
  color: #000;
  margin-bottom: 10px;
  cursor: pointer;
}

.copyright-paragraph {
  margin-bottom: 0;
}
