.security-info {
  width: calc(100% - 520px);
  display: flex;
  flex-direction: column;
  padding: 16px 24px;
}

.security-info .info-title {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: rgb(100, 100, 109);
}

.security-info .list-container {
  background-color: #fff;
  border-radius: 4px;
  margin-bottom: 16px;
}

.security-info .list-item {
  border-top: 1px solid rgb(248, 248, 248);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 19px 0;
}

.security-info .list-item:first-child {
  border: none;
}

.list-item .info {
  display: flex;
  flex-wrap: nowrap;
  background-color: #fff;
  border-radius: 8px;
  width: 100%;
}

.info__label {
  display: flex;
  align-items: center;
}

.info__label .icon {
  width: 35px;
  height: 35px;
  display: inline-block;
}

.info__label span {
  font-size: 14px;
  line-height: 20px;
  margin-left: 6px;
  color: rgb(56, 56, 61);
}

.info__input {
  width: 100%;
}
