.wrap {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 1.5em;
}

.list-items {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.header {
  display: grid;
  grid-template-columns: var(--grid-3111);
  padding: 1em;
}

.items {
  padding: 1em;
}


