.form{
    width: 50%;
    margin: 0 auto;
    box-shadow: 0 0 10px;
    padding: 1em 4em;
    margin-bottom: 1em;
    border-radius: 6px;
}
.input-controls{
    display: grid;
    grid-template-columns: 1fr 5fr;
    margin: 1em auto;
}

.action-controls{
    display: flex;
    justify-content: center;

    width: 100%;
}

@media (max-width: 1200px){
    .input-controls{
        display: grid;
        grid-template-columns: 1fr;
        margin: 1em auto;
    }
}